* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 500%; /* 5 slides */
  animation: slide 20s infinite;
}

.slide {
  width: 100vw; /* 100% of viewport */
  flex-shrink: 0;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.btn {
  position: absolute;
  bottom: 12%;
  left: 11%;
  transform: translateX(-50%);
  background: #ff3300;
  color: white;
  padding: 0.6% 2%;
  font-size: 1em;
  text-decoration: none;
  border-radius: 5px;
}

@keyframes slide {
  0%, 10%   { transform: translateX(0%); }
  20%, 30%  { transform: translateX(-100vw); }
  40%, 50%  { transform: translateX(-200vw); }
  60%, 70%  { transform: translateX(-300vw); }
  80%, 90%  { transform: translateX(-400vw); }
  100%      { transform: translateX(0%); }
}


.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 100%;
    height: auto;
}
.sliderr {
    display: none;
}

.navbar img {
    width: 46px;
    height: auto;
    margin: 10px 0;
}


.navoptions a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.842);
    padding: 0 10px;
    font-size: 1.04em;
}
.navsign {
    display: flex;
}

.navsign i {
    font-size: 1.34em;
    padding: 0 12px;
}

.boxes4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    width: 100%;
    height: auto;
}

.bb {
    border: 1px solid #ff3300;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin-top: 6px;
}

.bb img {
    width: 8vw;
    height: 10vh;
    display: flex;
    align-self: center;
}

.boxcontent h1 {
    font-size: 1.36em;
}

.boxcontent h4 {
    font-size: 0.91em;
    padding-top: 20px;
}
.line {
    display: none;
}

@media (max-width:1200px) {

    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .boxes4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    width: 100%;
    height: auto;
}
.bb img {
    width: 10vw;
    height: auto;
    display: flex;
    align-self: flex-end;
}

.boxcontent h1 {
    font-size: 1.30em;
}

.boxcontent h4 {
    font-size: 0.87em;
    padding-top: 8px;
}
.navoptions {
    display: none;
}
.line {
    display: flex;
    padding-left: 12px;
    font-size: 1.1em;
}
.navsign i {
    font-size: 1.1em;
    padding: 0 12px;
}
.navbar img {
   margin-left: 10%;
   width: 39px;
}

}

@media (max-width:660px) {
   .boxcontent h1 {
    font-size: 0.85em;
}

.boxcontent h4 {
    font-size: 0.67em;
    padding-top: 2px;
} 

.line {
    display: flex;
    padding-left: 12px;
    font-size: 0.90em;
}
.navsign i {
    font-size: 0.90em;
    padding: 0 7px;
}
.navbar img {
   margin-left: 10%;
   width: 32px;
}
}
@media (max-width:1050px) {
    .slider {
    display: none;
}

.sliderr {
    display: flex;
}

.btn {
  position: absolute;
  bottom: 17%;
  left: 82%;
  transform: translateX(-50%);
  background: #ff3300;
  color: white;
  padding: 0.6% 1.5%;
  font-size: 0.76em;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
}
.slide h1 {
   position: absolute;
    bottom: 34%;
    left: 3%;
    color: white; 
    font-size: 0.96em;
    margin-bottom: 3px;
}
.slide h3 {
    position: absolute;
    bottom: 27%;
    left: 3%;
    color: white;
    font-size: 0.64em;
}
}

@media (max-width:400px) {
    .boxcontent h1 {
    font-size: 0.70em;
}

.boxcontent h4 {
    font-size: 0.51em;
    padding-top: 2px;
}


}